@charset "utf-8";

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}



/*ここから課題*/

body {
    background-color: #eeeeee;
}

h1 {
    text-align: center;
    color: darkolivegreen;
    margin: 30px 0;

}

.flexbox {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;

}

.service {
    background-color: white;
    width: 31%;
    margin: 30px 0;
}

.service p {
    padding: 0 10px 10px;

}

h2 {
    border-left: 10px solid darkolivegreen;
    color: darkolivegreen;
    margin: 10px;
}

@media screen and (max-width: 400px) {
    .flexbox {
        display: block;
        padding: 20px;
    }

    .service {
        width: 100%;

    }

    .service img {
        width: 100%;

    }

}