@charset "utf-8";

.header_top {
    padding: 5%;
}

.name {
    top: 50px;
}


.fadeIn_right {
    opacity: 0;
    transform: translate(50%, 0);
    transition: 2s;
}

.fadeIn_right.is-show {
    transform: translate(0, 0);
    opacity: 1;
}